<p style="color: green"><%= notice %></p>

<h1>Seances</h1>

<table class="table table-hover w-75 mx-auto">
  <thead>
    <tr>
      <th scope="col">Movie</th>
      <th scope="col">Seances times</th>
    </tr>
  </thead>
  <tbody>
    <% @seances.each do |seance| %>
      <%= render seance %>
    <% end %>
  </tbody>
</table>
