<p style="color: green"><%= notice %></p>

<h1>Today Seances</h1>

<table class="table table-hover w-75 mx-auto">
  <thead>
    <tr>
      <th scope="col">Movie</th>
      <th scope="col">Seances times</th>
    </tr>
  </thead>
  <tbody>
    <% @seances.each do |movie, seances| %>
      <tr>
        <td><%= movie %></td>
        <td>
        <% seances.each do |seance|%>
          <%= formatted_date(seance.starts_at) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
