<p style="color: green"><%= notice %></p>

<h1>What's on today</h1>

<table class="table table-hover w-75 mx-auto">
  <thead>
    <tr>
      <th scope="col">Movie</th>
      <th scope="col">Seances times</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <td>
        <% movie.seances.each do |seance| %>
          <%= link_to formatted_hour(seance.starts_at), new_seance_reservation_path(seance.id) %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>