<div class="card w-75 my-3 m-auto border-0">
<h1>What's on today</h1>
<p style="color: green"><%= notice %></p>
</div>

<table class="table table-hover w-75 mx-auto">
  <thead>
    <tr>
      <th scope="col">Movie</th>
      <th scope="col">Seances times</th>
    </tr>
  </thead>
  <tbody>
    <% @today_movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <td>
        <% movie.seances.each do |seance| %>
          <% if current_user && policy(Seance).index? %>
            <%= link_to formatted_hour(seance.starts_at), seance_reservations_path(seance.id) %>
          <% else %>
            <%= link_to formatted_hour(seance.starts_at), new_seance_reservation_path(seance.id) %>
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>