<div id="<%= dom_id movie %>" class="card w-75 p-3 mx-auto col-md-3">
  <div class="card-body">
    <h5 class="card-title"><%= movie.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Duration: <%= movie.duration %> min</h6>
    <p class="card-text"><%= movie.description %></p>
  </div>
</div>
